body{
    background-color: #FFFFFF;
    margin: auto;    
}

.tela{
    position: relative;
    font-family: 'TT Norms Pro', sans-serif;
    max-width: 640px;
    height: 812px;
    margin: auto;
}

.tela_superior{
    width: 100%;
    height: 469px;
    background-color: #ffa451;
    display: flex;
    justify-content: center;
}


.img_ellipse{
    position: absolute;
    top: 423px;
}

.img3{
    position: absolute;
    top: 134px;
}

.img_imagem2{
    position: absolute;
    top: 131px;
    left: 75.2%;
}

.tela_inferior{
    width: 100%;
    height: 343px;
    background-color: #ffffff;
    text-align: center;
}

.tela_inferior .autenticacao{
    margin-top: 40px;
    text-align: left;
    display: inline-block;
    width: 327px;   
}

.autenticacao label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #27214D;
}

.autenticacao input{
    margin-top: 17px;
    width: 327px;
    height: 56px;
    border: none;
}

.autenticacao input{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(194, 189, 189, 0.7);
}

.botao button{
    margin-top: 58px;
    width: 327px;
    height: 56px;
    background: #ffa451;
    color: #ffffff;
    letter-spacing: -0.01em;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}




