body{
    background-color: #FFFFFF;
    margin: auto;  
    width: 375px;
    max-height: 467px;
}

.tela{
    font-family: 'TT Norms Pro', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

label{
    
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

color: #27214D;

}

.tela .superior{
    width: 87.2%;
    margin: auto;
    padding-top: 32px;
}

form{
    text-align: center;
}


input{
    padding: 0px;
    margin-top: 17px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    height: 56px;
    background: #F7F5F5;
    border-radius: 10px;    
}

input[type="text"]::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    background: #F7F5F5;
    color: #C2BDBD;
    padding: 16px;
}

.inferior{
    margin: auto;
    width: 87.2%;
    display: flex;
    justify-content: space-between;
}

.inferior button{
    margin-top: 24px;
gap: 10px;
border: none;
width: 156px;
height: 56px;
left: 24px;
top: 282px;

background: #FCF6F0;
border-radius: 10px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;


align-items: center;
text-align: center;
letter-spacing: -0.01em;

color: #F08626;


}

.inferior .pay_card{
    width: 143px;

}


